<footer class="rodape">

    
    <div class="container">


        <section class="rodape__info">
            <div class="rodape__endereco"> 
                <a href="/">
                <img src="/images/Logo_DH- PNG.png" alt="" class="rodape__logo" width="188" height="27"></a>
                <p>Av. Brasil, N 355, Centro <br>
                São Paulo - SP</p>

                <ul class="rodape__midias">
                    <li class="rodape__itens">
                        <a href="">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li> 
                    <li class="rodape__itens">
                        <a href="">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="rodape__itens">
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>   
                    <li class="rodape__itens">
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="rodape__atendimento">
                <h3>Precisa de ajuda?</h3>
                <a href="">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    (92) 98235-2295
                </a>
                <p>Horário de atendimento <br>
                Segunda - Sexta: 08h00 às 17h00 <br>
                Sábado: 09h00 às 13h00</p>
            </div>

            <div class="rodape__categorias">
                <h3>Categorias</h3>
                <ul class="rodape__lista">
                    <li>
                        <a href="">Ação</a>
                    </li>
                    <li>
                        <a href="">Comédia</a>
                    </li>
                    <li>
                        <a href="">Mangás</a>
                    </li>
                    <li>
                        <a href="">Drama</a>
                    </li>
                    <li>
                        <a href="">Horror</a>
                    </li>
                </ul>
                 
            </div>

            <div class="rodape__institucional">
                <h3>Institucional</h3>
                <ul class="rodape__lista">
                    <li>
                        <a href="">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="/faleconosco">Fale Conosco</a>
                    </li>
                    <li>
                        <a href="">Pesquisa de Satisfação</a>
                    </li>
                    <li>
                        <a href="">Depoimentos de Clientes</a>
                    </li>
                </ul>
                 
            </div>

        </section>

        <section class="rodape__copyright">
            <div  class="rodape__">
                <p>Copyright © 2022 <a href="">DH Livrarias.</a> All rights reserved </p>
            </div>

            <div class="rodape__icones">
                <ul class="rodape__cartao">
                    <li>
                        <img src="/images/cartão.png" alt="" class="src">
                    </li>
                    
                </ul>
            </div>
        </section>
    </div>

</footer>

</body>
</html>
