<%- include("./partials/header") %>

  <section class="container-cadastro">
    <div class="cadastro">

      <h3 class="cadastro-titulo"> Cadastre-se</h3>

      <form class="cadastro-corpo">

        <div class="cadastro-dados">
          <label for="inputEmail4" class="form-label"></label>
          <input type="email" class="form-control" placeholder="Email">
        </div>

        <div class="cadastro-dados">
          <label for="inputPassword4" class="form-label"></label>
          <input type="password" class="form-control" placeholder="Senha">
        </div>

        <div class="cadastro-dados">
          <label for="inputPassword4" class="form-label"></label>
          <input type="password" class="form-control" placeholder="Confirmar Senha">
        </div>

        <div class="cadastro-dados">
          <label for="inputAddress" class="form-label"></label>
          <input type="text" class="form-control" placeholder="Endereço">
        </div>

        <div class="cadastro-dados">
          <label for="inputCity" class="form-label"></label>
          <select id="inputState" class="form-control">
            <option selected>Estado</option>
            <option>...</option>

          </select>
        </div>

        <div class="cadastro-dados">
          <label for="inputState" class="form-label"></label>
          <select id="inputState" class="form-control">
            <option selected>Cidade</option>
            <option>...</option>

          </select>
        </div>

        <div class="cadastro-dados">
          <label for="inputZip" class="form-label"></label>
          <input type="text" class="form-control" placeholder="Cep">
        </div>

        <div class="cadastro-checkbox">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Lembre de mim
            </label>
          </div>
        </div>

        <div class="cadastro-logar">
          <button type="submit" class="btn">Cadastrar</button>
        </div>

      </form>

    </div>
  </section>
  <%- include("./partials/footer") %>