<%- include("./partials/header") %>

    <div class="container container_corpo">

        <div class="entrega-corpo">

            <h2>Insira o endereço de entrega</h2>
            

            <form action="/cadastroEndereco" method="GET">

                <div class="casdastro_entrega">
                   
                    <div class="entrega_dados">
                        <label for="cep" class="entrega_label"></label>
                        <input type="text" class="entrega_input" name="cep" id="cep" placeholder="CEP"  />
                    </div>


                    <div class="entrega_dados">
                        <label for="endereco" class="entrega_label"></label>
                        <input type="text" class="entrega_input" name="endereco" id="endereco" placeholder="Endereço" />
                    </div>

                    <div class="entrega_dados">
                        <label for="numero" class="entrega_label"></label>
                        <input type="text" class="entrega_input" name="numero" id="numero" placeholder="Número"/>
                    </div>

                    <div class="entrega_dados">
                        <label for="complemento" class="entrega_label"></label>
                        <input type="text" class="entrega_input" name="complemento" id="complemento" placeholder="Complemento" />
                    </div>

                    <div class="entrega_dados">
                        <label for="bairro" class="entrega_label"></label>
                        <input type="text" class="entrega_input" name="bairro" id="bairro" placeholder="Bairro" />
                    </div>

                    <div class="entrega_dados">
                        <label for="estado" class="entrega_label"></label>
                        <input type="text" class="entrega_input" name="estado" id="estado" placeholder="Estado" />
                    </div>

                    <div class="entrega_dados">
                        <label for="cidade" class="entrega_label"></label>
                        <input type="text" class="entrega_input" name="cidade" id="cidade" placeholder="Cidade" />
                    </div>
                </div>

                <div class="btn_endereco">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>

        </div>

    </div>

    <%- include("./partials/footer") %>