<%- include("./partials/header") %>

    <div class="container">

        <div class="cadastro_cliente">
            <h2>Crie sua conta</h2>

            <div class="already-user">
                <span class="ng-scope">Já tem uma conta?</span>
                <a class="login-link" href="/usuario/login">Faça seu login</a>
            </div>

            <% if(typeof errors !='undefined' ) { %>
                <div class="alert alert-danger">
                    <ul>
                        <% for(var i=0; i < errors.length; i++) { %>
                            <li>
                                <%= errors[i].msg %>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <% } %>

                    <form action="/usuario/cadastro" method="POST" >
                        
                        <div class="cadastro">
                            <label for="foto_perfil" class="form-label">Imagem de Perfil</label>
                            <input type="file" class="form-control" name="foto_perfil" id="foto_perfil" />
                            <div class="invalid-feedback"></div>
                        </div>  

                        <div class="cadastro">
                            <label for="nome" class="form-label"></label>
                            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="cadastro">
                            <label for="sobrenome" class="form-label"></label>
                            <input type="text" class="form-control" name="sobrenome" id="sobrenome"
                                placeholder="Sobrenome" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="cadastro">
                            <label for="email" class="form-label"></label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="E-mail" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="cadastro">
                            <label for="confirmeEmail" class="form-label"></label>
                            <input type="text" class="form-control" name="confirmeEmail" id="confirmeEmail"
                                placeholder="Confirme seu e-mail" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="cadastro">
                            <label for="senha" class="form-label"></label>
                            <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="cadastro">
                            <label for="confirmeSenha" class="form-label"></label>
                            <input type="password" class="form-control" name="confirmeSenha" id="confirmeSenha"
                                placeholder="Confirme sua senha" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="btn_cliente">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>

                    </form>
        </div>
    </div>


    <%- include("./partials/footer") %>