<%- include("./partials/header") %>

    <main class="pagina-carrinho">

        <h2 class="meu-carrinho">Meu Carrinho</h2>
        <div class="selected-products">
            <ul class="list">
                <li class="products-carrinho">
                    <div class="product-img">
                        <a href="#"><img src="/images/the-lord-of-the-rings.png" 
                            alt="The Lord Of the rings"></a>
                    </div>

                    <div class="title-author">
                        <a href="#">
                            <h3>The Lord of The Rings</h3>
                        </a>
                        <a href="#">
                            <p>J.R.R Tolkien</p>
                        </a>
                    </div>

                    <div class="quant">
                        <div class="subtitle">Quantitade</div>
                        <div class="quant-select">
                            <div>
                                <button class="add">-</button>
                            </div>
                            <div class="quant-selct-unit">1</div>
                            <div>
                                <button class="add">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="value-unit">
                        <div class="subtitle">Valor Unitário</div>
                        <div class="value-unit-unit">R$ 49,90</div>
                    </div>
                    <div class="value-total-unit">
                        <div class="subtitle">Valor Total</div>
                        <div class="value-total-unit-produtc">R$ 49,90</div>
                    </div>
                </li>
                <hr>

                <li class="products-carrinho">
                    <div class="product-img">
                        <a href="#"><img src="/images/harry-potter-prisioneiro-de-azkaban.png"
                                alt="Harry Potter e o Prisioneiro de Azkaban"></a>
                    </div>

                    <div class="title-author">
                        <a href="#">
                            <h3>Harry Potter e o Prisioneiro de Azkaban</h3>
                        </a>
                        <a href="#">
                            <p>J.K Rowling</p>
                        </a>
                    </div>

                    <div class="quant">
                        <div class="subtitle">Quantitade</div>
                        <div class="quant-select">
                            <div>
                                <button class="add">-</button>
                            </div>
                            <div class="quant-selct-unit">1</div>
                            <div>
                                <button class="add">+</button>
                            </div>
                        </div>

                    </div>
                    <div class="value-unit">
                        <div class="subtitle">Valor Unitário</div>
                        <div class="value-unit-unit">R$ 49,90</div>
                    </div>
                    <div class="value-total-unit">
                        <div class="subtitle">Valor Total</div>
                        <div class="value-total-unit-produtc">R$ 49,90</div>
                    </div>
                </li>
                <hr>



                <li class="products-carrinho">
                    <div class="product-img">
                        <a href="#"><img src="/images/berserk-deluxe-vol-4.png" alt="Berserk Vol 4"></a>
                    </div>
                    <div class="title-author">
                        <a href="#">
                            <h3>Berserk Vol. 4 - Deluxe Edition</h3>
                        </a>
                        <a href="#">
                            <p>Kentaro Miura</p>
                        </a>
                    </div>

                    <div class="quant">
                        <div class="subtitle">Quantitade</div>
                        <div class="quant-select">
                            <div>
                                <button class="add">-</button>
                            </div>
                            <div class="quant-selct-unit">1</div>
                            <div>
                                <button class="add">+</button>
                            </div>
                        </div>

                    </div>
                    <div class="value-unit">
                        <div class="subtitle">Valor Unitário</div>
                        <div class="value-unit-unit">R$ 49,90</div>
                    </div>
                    <div class="value-total-unit">
                        <div class="subtitle">Valor Total</div>
                        <div class="value-total-unit-produtc">R$ 49,90</div>
                    </div>
                </li>
            </ul>
        </div>


    </main>

    <section class="resume">
        <div class="freight">
            <h4>Calcular Frete</h4>
            <hr>
            <p>Cep:</p>
            <form class="frete" action="">
                <input type="text" name="cep1" id="cep1" placeholder="69010">
                <p>–</p>
                <input type="text" name="cep2" id="cep2" placeholder="160">
                <button type="submit">Calcular</button>
            </form>
        </div>

        <div class="value-total">
            <h4>Resumo do pedido</h4>
            <hr>
            <div class="show-value-total">
                <p>Total do pedido</p>
                <p class="show-value-total-price">R$ 369,90</p>
            </div>
        </div>
    </section>


    <section class="finalization">
        <hr>
        <div class="buttons-finlization">
            <button class="keep-shopping"> Continue Comprando</button>
            <button class="finalize-purchase">Finalizar Compra</button>
        </div>
    </section>


    <%- include("./partials/footer") %>