<%- include("./partials/header")%>
    <main class="banner_cabecalho">
        
        <section class="banner">
            <div class="container">
                <h3 class="banner__titulo"> Fale Conosco</h3>
            </div>

        </section>

        <section>

            <div class="container contato">
                
                <form class="contato__form" method="post">
                   <div class="contato__campo">
                        <input class="contato__input" name="name" placeholder="Nome">
                   </div>
                    <div class="contato__campo">
                        <input class="contato__input" name="email" placeholder="E-mail">
                        <input class="contato__input" name="phone" placeholder="Contato">
                    </div>
                    <div class="contato__campo">
                        <textarea class="contato__textarea" name="message" placeholder="Digite sua mensagem aqui."></textarea>
                    </div>
                    <div class="contato__campo">
                        <button type="submit" class="Enviar btn">Enviar</button>
                        
                    </div>
                </form>
            </div>
        </section>
    
    </main>
    <%- include("./partials/footer")%>