<%- include("./partials/header")%>
    <main>
        <section class="pagina-finalizacao">
            <div class="dados-finalizacao">
                <h2>Olá, seja Bem Vindo!!!</h2>
                <p>Obrigado por comprar na DH-Livrarias.Sua compra será enviada. Isto conclui seu pedido.</p>
                <p>Se você desejar devolver algum dos itens enviados ou gerenciar outros pedidos, por favor,acesse <strong>Seus pedidos</strong> na DH-Livrarias.</p>
                <div class="finalizado-botao">
                    <p>Data de entrega prevista é:</p>
                    <p><strong>Quarta feira, 30 de Março</strong></p>
                    <a  class="botao-rastreamento btn" href="http://rastreamento.correios.com.br/app/index.php" target="_blanck">Rastrear seu pacote</a>
                    <p><strong>Uma pessoa maior de idade precisa estar presente para receber o pedido.</strong></p>
                </div><!--finalizacao-botao-->
                <p> O pacote foi enviado via TEXBR e o numero de rastreamento é "xxxxxxx". Dependendo da velocidade de entrega será preciso aguardar até 24 horas
                    para que o número de rastreamento apresente algumas informação. </p>
                    <h2>Resumo do pedido</h2>
                <div class="dados-resumo">
                    <p>Frete:  R$ 00.00</p>
                    <p>Envio Total: R$ 00.00</p>
                    <p>Pagamento realizado com Mastercard:   R$ 00.00</p>
                </div><!--dados-resumo-->
                <p>Para saber como devolver um produto, acesse nosso <strong>centro de devoluções</strong></p>
                <p>Para mais informações, consulte nossas <strong>páginas de ajuda.</strong></p>
                <p class="fim">Esperamos que você volte em breve.</p>
                <h4>DH-Livrarias</h4>
            </div><!--dados-box-->
        </section>
    </main>

    <%- include("./partials/footer")%>
