<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Roboto&family=Ropa+Sans&display=swap" rel="stylesheet">

    <title>Finalização</title>
</head>
<body>
    <header class="cabecalho">
        <div class="container">
            <div class="cabecalho__logo">
                <a href="#" class="cabecalho__link">
                    <img src="/imagens/Logo_DH- PNG.png" alt="logo" class="cabecalho__imagem" width="188" height="27">
                </a>
            </div>
            <div class="cabecalho__pesquisa">
                <a href="" class="cabecalho__categoria">
                    <i class="fa fa-th-large cabecalho__icone" aria-hidden="true"></i> Categorias
                </a>
                <div class="cabecalho__busca">
                    <input type="text" class="cabecalho__campo" placeholder="O que você procura?">
                    <button class="cabecalho__botao" type="submit">
                        <i class="fa fa-search cabecalho__icone" aria-hidden="true"></i>
                    </button>
                </div>  
            </div>
            <nav class="cabecalho__navegacao">
                <ul class="cabecalho__menu">
                    <li class="cabecalho__item">
                        <a href="http://" class="cabecalho__link">
                            <i class="fa fa-user-o cabecalho__icone" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="cabecalho__item">
                        <a href="http://" class="cabecalho__link">
                            <i class="fa fa-shopping-cart cabecalho__icone" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="cabecalho__item">
                        <a href="http://" class="cabecalho__link">
                            <i class="fa fa-heart-o cabecalho__icone" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="container-finalizacao">
                <h2>Olá, seja Bem Vindo!!!</h2>
                <p>Obrigado por comprar na DH-Livrarias.Sua compra será enviada. Isto conclui seu pedido.</p>
                <p>Se você desejar devolver algum dos itens enviados ou gerenciar outros pedidos, por favor,acesse <strong>Seus pedidos</strong> na DH-Livrarias.</p>
                <div class="finalizacao">
                    <p>Data de entrega prevista é:</p>
                    <p><strong>Quarta feira, 30 de Março</strong></p>
                    <a href="http://rastreamento.correios.com.br/app/index.php" target="_blanck">Rastrear seu pacote</a>
                    <p><strong>Uma pessoa maior de idade precisa estar presente para receber o pedido.</strong></p>
                </div><!--finalizacao-->
                <p> O pacote foi enviado via TEXBR e o numero de rastreamento é "xxxxxxx". Dependendo da velocidade de entrega será preciso aguardar até 24 horas
                    para que o número de rastreamento apresente algumas informação. </p>
                    <h2>Resumo do pedido</h2>
                <div class="container-resumo">
                    <p>Frete:  R$ 00.00</p>
                    <p>Envio Total: R$ 00.00</p>
                    <p>Pagamento realizado com Mastercard:   R$ 00.00</p>
                </div><!--container-resumo-->
                <p>Para saber como devolver um produto, acesse nosso <strong>centro de devoluções</strong></p>
                <p>Para mais informações, consulte nossas <strong>páginas de ajuda.</strong></p>
                <p class="fim">Esperamos que você volte em breve.</p>
                <h4>DH-Livrarias</h4>
            </div><!--container-box-->
        </section>
    </main>
    <footer class="rodape">
        <div class="container">
            <section class="rodape__info">
                <div class="rodape__endereco"> 
                    <img src="/imagens/Logo_DH- PNG.png" alt="" class="rodape__logo" width="188" height="27">
                    <p>Av. Brasil, N 355, Centro <br>
                    São Paulo - SP</p>
                    <ul class="rodape__midias">
                        <li class="rodape__itens">
                            <a href="">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li> 
                        <li class="rodape__itens">
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="rodape__itens">
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>   
                        <li class="rodape__itens">
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="rodape__atendimento">
                    <h3>Precisa de ajuda?</h3>
                    <a href="">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        (92) 98235-2295
                    </a>
                    <p>Horário de atendimento <br>
                    Segunda - Sexta: 08h00 às 17h00 <br>
                    Sábado: 09h00 às 13h00</p>
                </div>

                <div class="rodape__categorias">
                    <h3>Categorias</h3>
                    <ul class="rodape__lista">
                        <li>
                            <a href="">Ação</a>
                        </li>
                        <li>
                            <a href="">Comédia</a>
                        </li>
                        <li>
                            <a href="">Mangás</a>
                        </li>
                        <li>
                            <a href="">Drama</a>
                        </li>
                        <li>
                            <a href="">Horror</a>
                        </li>
                    </ul>
                </div>
                <div class="rodape__institucional">
                    <h3>Institucional</h3>
                    <ul class="rodape__lista">
                        <li>
                            <a href="">Política de Privacidade</a>
                        </li>
                        <li>
                            <a href="">Trabalhe Conosco</a>
                        </li>
                        <li>
                            <a href="">Pesquisa de Satisfação</a>
                        </li>
                        <li>
                            <a href="">Depoimentos de Clientes</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="rodape__copyright">
                <div>
                    <p>Copyright © 2022 <a href="">DH Livrarias.</a> All rights reserved </p>
                </div>
                <div class="rodape__icones">
                    <ul class="rodape__cartao">
                        <li>
                            <img src="./img/cartão.png" alt="" class="src">
                        </li>   
                    </ul>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>