<%- include("./partials/header")%>

  <div class="container">

    <div class="login_corpo">
      <h1> Login</h1>

      <div class="new-user">
        <span> Não tem uma conta?</span>
        <a class="signup-link" href="/cadastro">Registre-se</a>
      </div>

      <form class="formulario" action="/usuario/login" method="POST">
        <div  class="input">
         


     
        <div class="login">
          <label for="email" class="login_label"></label>
          <input type="email" class="login_input" placeholder="E-mail" id="email" name="email">

        </div>

        <div class="login">
          <label for="senha" class="login_label"></label>
          <input type="password" class="login_input" placeholder="Senha"  id="senha" name="senha">
        </div>

        <div class="esqueceu_senha">
          
          <label class="login_lembrar" for="exampleCheck1"> <input type="checkbox" class="login_check" id="exampleCheck1">Lembre de mim</label>
          <a class="login_senha" href="">Esqueceu a senha ou o email?</a>
        </div>
        
      </form>

      <div class="btn-cadastro">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>

    </div>

  </div>
    <div class="termos">
      * Ao se registrar, você concorda com os nossos <a href="" target="_blank">Termos de
        Uso</a>, em receber emails e atualizações da DH Livrarias e confirma que leu nossa <a href=""
        target="_blank">Política de Privacidade</a>.
    </div>


  </div>


  <%- include("./partials/footer")%>