<%- include("./partials/header")%>

  <div class="container">
    <div class="login_corpo">


      <form class="formulario" action="/usuario/login" method="POST">
        <div  class="input">
          
          <h3 class="login_titulo"> Login</h3>
          <label for="exampleInputEmail1" class="form-label"></label>
          <input type="email" class="form-control" placeholder="E-mail" id="email" name="email">
          
        </div>

        <div class="input">
          <label for="senha" class="form-label"></label>
          <input type="password" class="form-control" placeholder="Senha" id="senha" name="senha">
        </div>

        <div class="form-check input">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Lembre de mim</label>
        </div>
        <div class="cadastro-logar">
        <button type="submit" class="btn">Entrar</button>
         
        </div>
      </form>
    </div>
  </div>

  
  <%- include("./partials/footer")%>
