<%- include("./partials/header")%>

  <div class="container">

    <div class="login_body">
      <h1> Login</h1>

      <div class="new-user">
        <span> Não tem uma conta?</span>
        <a class="signup-link" href="/usuario/cadastrar">Registre-se</a>
      </div>

      <form class="formulario" action="/usuario/login" method="POST">
        <div  class="input">
         


     
        <div class="login">
          <label for="email" class="login_label"></label>
          <input type="email" class="login_input" placeholder="E-mail" id="email" name="email">

        </div>

        <div class="login">
          <label for="senha" class="login_label"></label>
          <input type="password" class="login_input" placeholder="Senha"  id="senha" name="senha">
        </div>

    
      </form>

      <div class="btn-cadastro">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>

    </div>

  </div>
   


  </div>


  <%- include("./partials/footer")%>