<%- include("./partials/header")%>

  <div class="login ">
    <div class="login_corpo">
      <form method="post" action="index.php"><br>
        <h1></h1><br>

        <h2 class="login_titulo">Login</h2><br><br>

        <label class="login_email">E-mail:</label>
        <input type="text" name="nome" size="50" placeholder="Informe o seu e-mail" class="form-input">
        <p>

        </p>

        <label class="login_senha">Senha:</label>
        <input type="password" name="senha" size="50" placeholder="Confirme a sua Senha" class="form-input">
        <p>

        </p>
        <div class="login_botao">
        <input type="submit" value="Logar"> &nbsp; &nbsp;
        <input type="button" value="Voltar"><br><br>
      </div> <!-- login-botao-->
        <div class="login_cadastro">
          Não é Cadastrado? <a href="/user/cadastro">Crie uma Conta</a>
        </div>
      </form>
    </div>
  </div>

  
  <%- include("./partials/footer")%>
