*{
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.cabecalho{
    padding: 30px 20px;
    border-bottom: 1px solid #d1d1d1;
}

/* verificar esse aqui*/
.cabecalho{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}


.cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cabecalho__pesquisa{
    display: flex;
    flex-grow: 1;
    max-width: 500px;
}

.cabecalho__pesquisa .cabecalho__categoria{
    background-color: #E8505D;
    border-radius: 8px;
    color: #fff;
    display: flex;
    margin-right: 25px;
    padding: 8px 20px;
    text-decoration: none;
}


.cabecalho__pesquisa .cabecalho__categoria .cabecalho__icone{
    margin-right: 20px;
}

.cabecalho__pesquisa .cabecalho__busca{
    background-color: #E9E9E9;
    border-radius: 8px;
    width: 100%;
    display: flex;
}
.cabecalho__pesquisa .cabecalho__busca .cabecalho__botao{
    background-color: transparent;
    border: 0;   
}

.cabecalho__pesquisa .cabecalho__busca .cabecalho__botao .cabecalho__icone{
    color: #9b9696;
    font-size: 20px;
}

.cabecalho__pesquisa .cabecalho__busca .cabecalho__campo{
    border: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.cabecalho__navegacao .cabecalho__menu{
    display: flex;
    padding: 0;
}

.cabecalho__navegacao .cabecalho__menu .cabecalho__item{
    list-style: none;
    margin: 0 15px;
}

.cabecalho__navegacao .cabecalho__menu .cabecalho__item .cabecalho__link{
    text-decoration: none;
}

.cabecalho__navegacao .cabecalho__menu .cabecalho__item .cabecalho__link .cabecalho__icone{
    color: #A9A9A9;
    font-size: 25px;
    cursor: pointer;
}

.banner{
    background-color: #af0000;
    color: #fff;
    padding: 60px 0;
}

.banner .banner__titulo{
    text-align: center;
    font-size: 48px;
}

.contato{
    padding: 70px 0;
}

.contato .contato__form{
    max-width: 580px;
    margin: 0 auto;
}

.contato .contato__form .contato__campo{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.contato .contato__form .contato__campo .contato__input{
    width: 100%;
    margin: 0 10px;
    background: #C4C4C4;
    border: 0px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px 30px;
}

.contato .contato__form .contato__campo .contato__textarea{
    width: 100%;
    margin: 0 10px;
    background: #C4C4C4;
    border: 0px solid;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px 30px;
}

button{
    background-color: #af0000;
    color: #fff;
    cursor: pointer;
    transition: color, background, width 0 5s;
    width: 120px;  
}

button{
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 30px;
    max-width: 280px;
    margin: 0 auto;
}

button:hover{
    background-color: #fff;
    color: #E8505D;
    width: 120px;
}


/* footer*/

.rodape .container{
    padding: 50px 0 0 0;
    max-width: 1000px;
}

.rodape{
    background-color: rgba(105, 105, 105, 0.25)
}

.rodape .rodape__info{
    display: flex;
    justify-content: space-between;
}

.rodape__info .rodape__endereco{
    color: #353434;
    text-align: center;
}

.rodape__info .rodape__endereco p{
    margin-top: 20px;
}

.rodape__info .rodape__endereco .rodape__midias{
    display: flex;
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    font-size: 25px;
}

.rodape__info .rodape__endereco .rodape__midias .rodape__itens{
    list-style: none;
    margin: 0 15px;
}

.rodape__info .rodape__endereco .rodape__midias .rodape__itens a{
    color: #353434 ;
}

.rodape .rodape__atendimento{
    padding: 0;
    text-align: center;
}


.rodape .rodape__atendimento h3{
    color: #fff;
    text-align: center;
}

.rodape .rodape__atendimento a i{
    color: green;
    font-size: 25px;
    margin-top: 10px;
}

.rodape .rodape__atendimento a{
    color: #af0000;
    text-decoration: none;
    align-items: center;
    margin-top: 5px;
}

.rodape .rodape__atendimento p{
    color: #353434;
    padding: 0;
    margin: 10px;
}

.rodape .rodape__categorias{
    color: #fff;
    text-align: center;
}

.rodape .rodape__categorias .rodape__lista{
   padding: 0;
   margin: 10px;
}

.rodape .rodape__categorias ul{
    list-style: none;
}

.rodape .rodape__categorias li a{
    color: #353434;
    text-decoration: none;
}

.rodape .rodape__institucional{
    color: #fff;
    text-align: center;
}

.rodape .rodape__institucional .rodape__lista{
    padding: 0;
    margin: 10px;
}

.rodape .rodape__institucional ul{
    list-style: none;
}

.rodape .rodape__institucional li a{
    color: #353434;
    text-decoration: none;
}

.rodape .rodape__copyright{
    color: #353434;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape .rodape__copyright a{
    color: #af0000;
}

.rodape .rodape__cartao li{
    list-style:  none;
}

.rodape .rodape__cartao{
    margin: 20px;
}

